# =====================================
# SECURITY / CONFIG
# =====================================
wp-config.php
wp-config-local.php

# =====================================
# CONTENT (NICHT VERSIONIEREN)
# =====================================
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# =====================================
# TEMP / BACKUPS
# =====================================
*.backup.*
*.sql
*.zip
*.gz

# =====================================
# LOGS
# =====================================
*.log
error_log

# =====================================
# SYSTEM
# =====================================
.DS_Store
.idea/
.vscode/

# Licenses / secrets
wp-content/plugins/seo-by-rank-math-pro/licence-data.php

# Uploads (local-only)
wp-content/uploads/
wp-content/uploads__local_backup/

# Local duplicates / backups
* 2.css
* 2.js
* 2.txt
wp-content/uploads*/

# Local WP Rocket config
wp-content/wp-rocket-config/*.php
/wp-admin/
/wp-includes/
/wp-content/uploads/
/wp-content/cache/
/wp-content/wflogs/
/wp-content/upgrade/
/wp-content/plugins/buddyboss-platform/
/wp-content/plugins/buddyboss-platform-pro/
/wp-content/plugins/buddyboss-sharing/
/wp-content/plugins/searchwp/
/wp-content/plugins/sureforms/
/wp-content/plugins/sureforms-pro/
/wp-content/plugins/seo-by-rank-math/
/wp-content/plugins/jotform-ai-chatbot/

