.jfMaterialList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  &--item {
    background: var(--jfv-white);
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    box-shadow:
      0 2px 4px #252d5b0a,
      0 8px 16px #545f6f29;
    &.isActionRequired {
      border: 1px solid var(--jfv-blue-500);
      outline: 2px solid var(--jfv-blue-100);
    }
    &-content {
      padding: 16px 20px 20px;
      border-bottom: 1px solid var(--jfv-navy-100);
      color: var(--jfv-navy-500);
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      &-title {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        &-icon {
          width: 40px;
          height: 40px;
          border-radius: 4px;
          padding: 8px;
          flex-shrink: 0;
          &.isKnowledge {
            background-color: rgba(100, 178, 0, 0.2);
            color: var(--jfv-green-500);
          }
          &.isDocument {
            background-color: rgb(0, 153, 255, 0.2);
            color: var(--jfv-blue-400);
          }
          &.isURL {
            background-color: rgba(255, 182, 41, 0.2);
            color: var(--jfv-yellow-400);
          }
          &.isQA {
            background-color: rgb(62, 98, 200, 0.2);
            color: var(--jfv-pdf-default);
          }
        }
        &-text {
          flex: 1;
          display: flex;
          flex-direction: column;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #343c6a;
          font-size: 12px;
          line-height: 16px;
          @media screen and (max-width: 1440px) {
            width: 100%;
            max-width: 360px;
          }
          @media screen and (max-width: 1200px) {
            max-width: 280px;
          }
          @media screen and (max-width: 1100px) {
            max-width: 260px;
          }
          @media screen and (max-width: 1024px) {
            max-width: unset;
          }
          strong {
            font-size: 14px;
            line-height: 18px;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          span {
            font-size: 12px;
            line-height: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &-link {
            font-size: 12px;
            color: var(--jfv-blue-500);
            text-decoration: underline;
            transition: 0.15s all;
            &:hover {
              color: var(--jfv-blue-600);
            }
          }
        }
        .jfButton {
          width: 22px;
          height: 22px;
          padding: 0;
          opacity: 0;
          margin-left: auto;
          transition: opacity 0.2s;
          svg {
            transition: 0.1s all;
          }
        }
        &:hover {
          .jfButton {
            opacity: 1;
          }
        }
      }
      &-text {
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    &-footer {
      padding: 4px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-text {
        font-size: 12px;
        line-height: 16px;
        color: var(--jfv-navy-300);
      }
    }
    &-error {
      background: var(--jfv-red-200);
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 4px 8px;
      border-radius: 8px;
      svg {
        width: 16px;
        height: 16px;
        fill: var(--jfv-red-400);
        vertical-align: middle;
      }
      span {
        color: var(--jfv-red-400);
        font-weight: 400;
        line-height: 24px;
        vertical-align: middle;
      }
    }
  }
  &--no-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px;
    flex-grow: 1;
    @media screen and (min-width: 1280px) {
      margin-top: 48px;
    }
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      text-align: center;
      &-title {
        color: var(--jfv-navy-700);
        font-size: 14px;
        font-weight: 700;
      }
      &-desc {
        color: var(--jfv-navy-300);
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.jfMaterialItemContextMenu {
  &--button {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    svg {
      width: 16px;
      height: 16px;
    }
    &:hover {
      background: var(--jfv-navy-25);
    }
    &:focus {
      outline: 2px solid rgba(127, 133, 156, 0.5);
    }
  }
  &--panel {
    z-index: 3;
    background: var(--jfv-navy-600);
    padding: 8px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    min-width: 188px;
    &-button {
      background: transparent;
      padding: 10px;
      gap: 10px;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-align: left;
      color: var(--jfv-white);
      svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
      span {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        flex-grow: 1;
      }
      &-delete {
        svg {
          fill: var(--jfv-red-400);
        }
      }
    }
  }
}

.jfMaterialStatus {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  &--text {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--jfv-navy-300);
    font-size: 12px;
    line-height: 16px;
  }
  &--line-loader {
    background: var(--jfv-navy-100);
    height: 8px;
    width: 100%;
    max-width: 416px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    &-bar {
      background: var(--jfv-blue-500);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;
    }
  }
}
