.getTextBlock {
  color: var(--jfv-navy-700);
  &--title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin: 0 0 8px 0 !important;
  }
  &--content {
    font-size: 14px;
    line-height: 20px;
    overflow-y: auto;
    &.summary {
      max-height: 64px;
    }
    &.content {
      padding: 12px;
      border: 1px solid var(--jfv-navy-100);
      border-radius: 4px;
      background-color: var(--jfv-navy-25);
      height: 400px;
    }
  }
  & + .getTextBlock {
    margin-top: 36px;
  }
}

.material-summary-modal {
  display: flex;
  flex-direction: column;
  &--title {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 64px 16px 32px;
    border-bottom: 1px solid var(--jfv-navy-50);
    gap: 16px;
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      flex-shrink: 0;
      background-color: rgba(100, 178, 0, 0.2);
      color: var(--jfv-green-500);
      &.isKnowledge {
        background-color: rgba(100, 178, 0, 0.2);
        color: var(--jfv-green-500);
      }
      &.isDocument {
        background-color: rgb(0, 153, 255, 0.2);
        color: var(--jfv-blue-400);
      }
      &.isURL {
        background-color: rgba(255, 182, 41, 0.2);
        color: var(--jfv-yellow-400);
      }
      &.isQA {
        background-color: rgb(62, 98, 200, 0.2);
        color: var(--jfv-pdf-default);
      }
      svg {
        width: 24px;
        height: 24px;
      }
    }
    &-text {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      strong {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span {
        font-size: 14px;
        line-height: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &--content {
    overflow: auto;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    flex-grow: 1;
    padding: 32px;
    &-inner {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }
    @media screen and (min-width: 480px) {
      flex-grow: 0;
    }
  }
  &--footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    border-top: 1px solid var(--jfv-navy-50);
    width: 100%;
    gap: 16px;
    .jfButton {
      margin-left: auto;
    }
    @media screen and (min-width: 480px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
}
